.menu{
   .button-style{
     width: 200px;
     height: 40px;
     display: inline-block;
     color: white;
     text-decoration: none;
     padding: .5em 2em;
     margin-left: 10px;
     outline: none;
     border-width: 2px 0;
     border-style: solid none;
     border-color: #8DC951 #000 #6EA933;
     border-radius: 6px;
     background: linear-gradient(#BDF962, #619C07) #619C07;
     &.open{
       background: linear-gradient(#DCFA61, #A5A922) #A5A922;
       margin-left: 5px;
     }
   }
 }